@using WeatherApp.Controllers
@using WeatherApp.Translations
@inject ITranslationService translationService
@model WeatherApp.ViewModels.IWeatherDataViewModel
@{
    ViewData["Title"] = "Accueil";
    ViewData["View"] = "Accueil";
}

<div class="grid-container">

    <div class="grid-item grid-two-column">
        <div class="card">
            <div class="card-body">
                Temperature
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div class="card">
            <div class="card-body">
                Pluie
            </div>
        </div>
    </div>

    <div class="grid-item  grid-two-column">
        <div class="card">
            <div class="card-body">
                Vent
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div class="card">
            <div class="card-body">
                Humidité
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div class="card">
            <div class="card-body">
                Pression
            </div>
        </div>
    </div>
</div>