@using WeatherApp.BlazorApp.Pages

@{
    ViewData["Title"] = "Portail Météo France";
    ViewData["View"] = "meteoFrance";
}

<h1>Explorateur Météo France</h1>
<component type="typeof(Weather)" render-mode="WebAssembly" />